{% extends 'base.html' %}

{% block content %}

    {% if category_posts %}
        <h1>{{ cats }}</h1>
        <ul>
            {% for post in category_posts %}
                <li>
                    <a href="{% url 'article-detail' post.pk %}">{{ post.title }}</a> -
                    {{ post.author.first_name }}
                    {{ post.author.last_name }} -
                    {{ post.post_date }}
                    <br>
                    {{ post.body|slice:':200' }}
                </li>
            {% endfor %}
        </ul>
        <br> <br>
        <a href="{% url 'home' %}" class="btn btn-secondary">Back</a>

    {% else %}
        <h2>Sorry, no content here for this category ...</h2>
    {% endif %}

{% endblock %}